.posts{
    text-align: left;
    width: 66%;
}

.post{
    display: flex;
    margin: 0 5% 5% 0;
    padding: 5%;
    background-color: white;
}

.postBody{
    width: 100%;
}

.postBody img{
    width: 100%;
    height: auto;
}